@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}
body {
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
.user-list {
  list-style: none;
}
.user-link {
  color: #000;
}
.navigation-list {
  list-style: none;
}
.navigation-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.navigation-plus {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
}
.title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}
.slider-number {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  color: #fff;
}
.link {
  color: #000;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.specifications-item b {
  font-size: 36px;
  color: #000;
}
.specifications-item p {
  font-size: 16px;
}
