@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}
body {
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.title-small {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.visially-hidden {
  display: none;
}
.black-link {
  color: #000;
}
.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.link-button {
  font-size: 18px;
  border: 0;
  background: transparent;
}
.user-link, .category-link {
  text-decoration: none;
}
.navigation-plus {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
}
.title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}
.slider-number {
  font-weight: 700;
  font-size: 180px;
  color: #fff;
}
.specifications-item b {
  font-size: 36px;
  color: #000;
}
.specifications-item p {
  font-size: 16px;
}
.category-link {
  font-family: "Raleway", sans-serif;
}
.baner-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.about-list {
  font-weight: 700;
}
.address {
  font-style: normal;
}
