@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-color: #000;
  --active-color: rgba(0, 0, 0, 0.3);
  --hover-color: rgba(0, 0, 0, 0.6);
  --focus-color: #AF4FFF;
  --accent-color: #ffe17f;
  --accent-color-dark: #ffc700;
  --background-color: #f0f0f0;
  --accent-background: #fff;
  --accent-font: "Raleway", "Arial", sans-serif;
}

html {
  height: 100%;
}

body {
  color: #444;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 5px;
}

.button {
  color: var(--basic-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::after {
  content: '';
  width: 100%;
  height: 8px;
  background: var(--accent-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.button:hover::after {
  height: 100%;
}

.button:active::after {
  background: #FFCC33;
}

.button:focus {
  outline: 2px solid var(--focus-color);
}

.btn {
  height: 55px;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: var(--accent-font);
  color: var(--basic-color);
}

.btn-default {
  font-size: 16px;
  border: 3px solid #e5e5e5;
  width: 100%;
  margin: 44px 0;
}

.btn-default:hover {
  border: 3px solid var(--basic-color);
}

.btn-default:active {
  border: 3px solid var(--active-color);
  color: var(--active-color);
}

.btn-default:focus {
  outline: 2px solid var(--focus-color);
}

.btn-primary {
  font-size: 18px;
  border: 3px solid #c4c4c4;
  width: 252px;
  margin: 0;
}

.btn-primary:hover {
  color: #fff;
  background: var(--basic-color);
  border: 3px solid var(--basic-color);
}

.btn-primary:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-primary:focus {
  outline: 2px solid var(--focus-color);
}

/* header */
.header {
  margin-top: 13px;
}

.header__wrapper {
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
}

.header__wrapper::before {
  content: '';
  width: 100%;
  height: 96%;
  background: var(--accent-color);
  position: absolute;
  top: 22px;
  left: 0;
  z-index: -1;
}

.header__logo {
  margin-top: -30px;
}

.header__logo img {
  display: block;
}

.header__logo img:hover {
  opacity: 0.6;
}

.header__logo img:active {
  opacity: 0.3;
}

.header__logo img:focus {
  outline: 2px solid var(--focus-color);
}

.header-search {
  display: flex;
  width: 517px;
  margin-right: 26px;
}

.header-search__input {
  border: 2px solid var(--basic-color);
  width: 360px;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-left: 48px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: transparent;
}

.header-search__input::placeholder {
  color: var(--active-color);
}

.header-search__input:focus {
  outline: 2px solid var(--focus-color);
}

.header-search__button {
  border: 2px solid var(--basic-color);
  border-left: 0;
  border-radius: 0 50px 50px 0;
  width: 160px;
  height: 40px;
  font-size: 16px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.header-search__button:hover {
  background: #000;
  color: #fff;
}

.header-search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-search__button:focus {
  outline: 2px solid var(--focus-color);
}

.header__user-nav {
  display: flex;
  margin: 30px 0;
}

.header__user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.user-list__item:not(:first-child) {
  margin-left: 27px;
}

.user-list__item:first-child {
  margin-right: auto;
}

.user-list__link {
  color: var(--basic-color);
  padding-left: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.user-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list__link:active {
  color: var(--active-color);
}

.user-list__link:focus {
  outline: 2px solid var(--focus-color);
}

.user-list__link--user {
  background-image: url(../images/icons/icon-user.svg);
  background-size: 13px;
}

.user-list__link--compare {
  background-image: url(../images/icons/icon-compare.svg);
  background-size: 10px;
}

.user-list__link--cart {
  background-image: url(../images/icons/icon-cart.svg);
  background-size: 16px;
  position: relative;
}

.user-list__link--cart::before {
  content: attr(data-count);
  color: var(--basic-color);
  background: var(--accent-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-size: 14px;
  position: absolute;
  left: -14px;
  bottom: 0;
}

.user-list__link--exit {
  color: var(--active-color);
  padding-left: 0;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
}

.navigation__item {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation__item + .navigation__item {
  padding-left: 48px;
}

.navigation__item--plus {
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: auto;
}

.navigation__item--plus:hover {
  background-image: url(../images/icons/plus-hover.svg);
}

.navigation__item--plus .navigation__link {
  padding-right: 70px;
}

.navigation__link {
  color: var(--basic-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 0;
}

.navigation__link:hover {
  color: var(--hover-color);
}

.navigation__item--plus .navigation__link:hover {
  color: #000;
}

.navigation__link:active {
  color: var(--active-color);
}

.navigation__link:focus {
  outline: 2px solid var(--focus-color);
}

.navigation__link--open + .navigation__sublist {
  display: flex;
}

.navigation__sublist {
  display: none;
  background: var(--accent-color);
  width: 100%;
  position: absolute;
  left: 0;
}

/* slider */
.slider {
  margin-bottom: 70px;
}

.slider__list {
  position: relative;
}

.slider__item {
  display: flex;
  align-items: flex-end;
  position: relative;
  counter-increment: slider_item;
}

.slider__item--hide {
  display: none;
}

.slider__item::before {
  content: '';
  background: var(--accent-color);
  width: 100%;
  height: 145px;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.slider__item::after {
  content: counter(slider_item, decimal-leading-zero);
  color: #fff;
  font-size: 180px;
  font-weight: 700;
  position: absolute;
  right: 50px;
  top: 78px;
  z-index: -1;
}

.slider__image {
  transform: translateY(-18px);
}

.slider__content {
  margin-left: 40px;
  box-sizing: border-box;
  transform: translateY(-12px);
}

.slider__title {
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.slider__link {
  width: 220px;
}

.slider__description:last-of-type {
  margin-bottom: 50px;
}

.slider__specifications {
  margin-top: 30px;
  margin-bottom: 38px;
}

.spec-column {
  display: flex;
  flex-wrap: wrap;
}

.spec-column__item {
  margin-top: 20px;
}

.spec-column__item:not(:last-child) {
  margin-right: 20px;
}

.spec-column__item b {
  font-size: 36px;
  font-weight: 400;
  color: var(--basic-color);
  display: block;
  margin-bottom: 12px;
}

.spec-column__item span {
  font-size: 16px;
}

.slider__nav {
  width: 560px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 38%;
}

.slider__button {
  width: 20px;
  height: 60px;
  border: 0;
  background-color: transparent;
  background-image: url(../images/icons/arrow-prev.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider__button:hover {
  opacity: 0.6;
}

.slider__button:active {
  opacity: 0.3;
}

.slider__button:focus {
  outline: 2px solid var(--focus-color);
}

.slider__button--next {
  transform: rotate(180deg);
}

.slider__pagination {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 184px;
}

.slider__pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider__pagination-button {
  width: 12px;
  height: 12px;
  display: block;
  border: 2px solid var(--basic-color);
  border-radius: 50%;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.slider__pagination-button:hover {
  opacity: 0.6;
}

.slider__pagination-button:active {
  opacity: 0.3;
}

.slider__pagination-button:focus {
  outline: 2px solid var(--focus-color);
}

.slider__pagination-button--active {
  background: #000;
}
/* categories */

.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__item {
  width: 160px;
}

.categories__link {
  color: var(--basic-color);
  font-family: var(--accent-font);
  font-weight: 800;
  letter-spacing: -0.02em;
  display: block;
  line-height: 24px;
  margin-top: 32px;
}

.categories__item:active {
  opacity: 0.3;
}

.categories__item:focus {
  outline: 2px solid var(--focus-color);
}

.categories__item::before {
  content: '';
  background: var(--icon);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 160px;
}

.categories__item:hover::before {
  background-color: var(--accent-color-dark);
}

/* service */
.service {
  margin-top: 170px;
  margin-bottom: 70px;
  position: relative;
  background: var(--background-color);
}

.service__wrapper {
  display: flex;
  transform: translateY(-100px);
}

.service__tabs {
  width: 287px;
  border-right: 7px solid #000;
  padding-top: 64px;
}

.service__tab {
  background: transparent;
  font-size: 18px;
  border: 0;
  margin-bottom: 35px;
  width: 160px;
  cursor: pointer;
}

.service__tab--active {
  color: var(--accent-color);
  background: #000;
  height: 40px;
  width: 100%;
  text-align: left;
}

.button.service__tab--active::after {
  content: none;
}

.service__tab-content {
  position: relative;
}

.service__tab-content::after {
  content: '';
  background: var(--icon);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.service__tab-content:first-child:after {
  width: 136px;
  height: 164px;
}

.service__list {
  width: 700px;
  margin-top: 72px;
  margin-left: 116px;
  margin-right: 63px;
  margin-bottom: 72px;
  box-sizing: border-box;
}

.service__title {
  color: var(--basic-color);
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 34px;
}

.service__text {
  width: 452px;
}

/* banner */
.banner {
  background: var(--background-color);
  min-height: 100px;
}

.banner__link {
  color: var(--basic-color);
  font-family: var(--accent-font);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__link::before {
  content: '';
  display: block;
  width: 125px;
  height: 100px;
  background-color: var(--accent-color);
  background-image: url(../images/icons/delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner__link:hover::before {
  background-color: #FFC700;
}

.banner__link::after {
  content: '';
  display: block;
  width: 125px;
  height: 100px;
  background-image: url(../images/icons/info-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.banner__link:hover::after {
  opacity: 1;
}

.banner__link:active {
  opacity: 0.3;
}

/* about */
.about {
  margin: 70px 0;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__content {
  width: 532px;
}

.about__title {
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-color);
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 48px;
  position: relative;
}

.about__title::before {
  content: '';
  width: 84px;
  height: 7px;
  background: var(--basic-color);
  position: absolute;
  top: 0;
}

.about__list li {
  position: relative;
  padding-left: 34px;
}

.about__list li::before {
  content: '';
  background: #ffc700;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 8px;
  width: 8px;
}

.about__subtitle {
  font-weight: 700;
  margin-bottom: 16px;
}

address {
  font-style: normal;
}

.about__time-works, .about__list {
  margin-bottom: 30px;
}

.about__link {
  color: var(--basic-color);
  text-decoration: underline;
}

.about__button {
  width: 270px;
}

/* mailing */
.mailing {
  background: var(--background-color);
  padding: 64px 0;
}

.mailing__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mailing__text {
  width: 560px;
}

.mailing__title {
  width: 344px;
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-color);
  margin-top: 0;
  margin-bottom: 144px;
}

.mailing__form {
  display: flex;
  width: 810px;
}

.mailing__form-field {
  font-size: 18px;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  background: transparent;
  width: 558px;
  height: 55px;
  box-sizing: border-box;
  padding: 12px 16px;
}

.mailing__tagging {
  padding-left: 32px;
  background-image: url(../images/icons/tick-big.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px;
}

/* footer */
.footer {
  background: #444;
  font-size: 16px;
  color: var(--accent-background);
  padding: 62px 0;
}

.footer__logo img {
  display: block;
  margin-bottom: 35px;
}

.footer__logo img:hover {
  opacity: 0.6;
}

.footer__logo img:active {
  opacity: 0.3;
}

.footer__logo img:focus {
  outline: 2px solid var(--focus-color);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  line-height: 20px;
  width: 240px;
  position: relative;
}

.footer__address::after {
  content: '';
  background: #ffc700;
  width: 80px;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__author svg {
  fill: #ffc700;
}

.footer__author svg:hover {
  fill: #fff;
}

.footer__author svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.footer__author:focus {
  outline: 2px solid var(--focus-color);
}

.footer__navigation {
  width: 440px;
}

.secondary-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 62px;
}

.secondary-menu__link {
  color: var(--accent-background);
  font-family: var(--accent-font);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.secondary-menu__link:hover {
  color: var(--accent-color-dark);
}

.secondary-menu__link:active {
  opacity: 0.3;
}

.secondary-menu__link:focus {
  outline: 2px solid var(--focus-color);
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--twitter {
  background-image: url(../images/icons/twitter.svg);
  background-size: 15px;
}

.social__link--youtube {
  background-image: url(../images/icons/youtube.svg);
  background-size: 16px;
}

.social__link--telegram {
  background-image: url(../images/icons/telegram.svg);
  background-size: 14px;
}

.social__link:hover {
  background-color: var(--accent-color-dark);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 240px;
}

.footer__link {
  color: var(--accent-background);
  margin-bottom: 62px;
  text-decoration: underline;
}

.footer__link:hover {
  color: var(--accent-color-dark);
}

.footer__link:active {
  opacity: 0.3;
}

.footer__link:focus {
  outline: 2px solid var(--focus-color);
}

/* page */
.page-header {
  margin: 35px 0;
}

.page-header__title {
  color: var(--basic-color);
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 16px; /* внешние отступы лучше выносить в отдельный класс, значит здесь лучше к page-header__title добавить еще какой-то класс?  */
}

.catalog-products {
  background: var(--background-color);
}

.catalog-products__wrapper {
  display: flex;
}

.catalog-filter {
  width: 320px;
  padding: 0 60px;
}

.catalog-filter__group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter__item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter__title {
  color: var(--basic-color);
  font-family: var(--accent-font);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 16px;
}

.catalog-filter__subtitle {
  color: var(--basic-color);
  font-weight: 700;
  letter-spacing: -0.02em;
  padding-top: 12px;
  padding-bottom: 20px;
  border-top: 2px solid #000000;
  width: 100%;
}

.catalog-filter__label {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter__button {
  border: 0;
  background: transparent;
  font-size: 18px;
}

.catalog-products__content {
  width: 840px;
  box-sizing: border-box;
  background: var(--accent-background);
  padding: 0 40px 70px 40px;
  position: relative;
}

.catalog-products__content::before {
  content: '';
  background: var(--background-color);
  width: 100%;
  height: 70px;
  display: block;
  position: absolute;
  left: 0;
  z-index: 0;
}

.catalog-products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: relative;
}

.catalog-products__subtitle {
  color: var(--basic-color);
  font-family: var(--accent-font);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.sorting-container {
  display: flex;
}

.sorting-button {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../images/icons/sorting-button--from-smaller.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sorting-button--from-more {
  transform: rotate(180deg);
}

.sorting-button:hover {
  opacity: 0.5;
}

.sorting-button:active {
  opacity: 1;
}

.sorting-button:focus {
  outline: 2px solid var(--focus-color);
}

.breadcrumps {
  display: flex;
}

.breadcrumps__item {
  padding-right: 36px;
  position: relative;
}

.breadcrumps__item::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 18px;
  background-image: url(../images/icons/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
}

.breadcrumps__item:last-child:after {
  content: none;
}

.breadcrumps__link {
  font-size: 16px;
  color: var(--basic-color);
}

.breadcrumps__link:hover {
  opacity: 0.6;
}

.breadcrumps__link:active {
  opacity: 0.3;
}

.breadcrumps__link:focus {
  outline: 2px solid var(--focus-color);
}

/* range */
.range__scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #dcdcdc;
  border-radius: 2px;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}

.range__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:hover {
  background-color: #f4f4f4;
  border: 2px solid #7f7f7f;
}

.range__toggle:active {
  background-color: #000;
  border: 2px solid #000;
}

.range__toggle:focus {
  outline: 2px solid var(--focus-color);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range__wrapper-inputs {
  display: flex;
  position: relative;
}

.range__input {
  width: 20px;
  padding: 0;
  margin: 0;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: rgba(0, 0, 0, 0.3);
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.control__input[type="checkbox"]:checked + .control__mark {
  border: 2px solid #000;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/cheked.svg);
  background-repeat: no-repeat;
}

/* Radio */
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark {
  border: 2px solid #000;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  content: "";
}


/* control */
.select-control {
  font: inherit;
  border: 0;
  background-color: #F0F0F0;
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

/* products */
.products {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-top: 70px;
}

.products__item {
  position: relative;
}

.products__link {
  color: var(--basic-color);
}

.products__link:hover .products__button {
  opacity: 1;
}

.products__link:hover img {
  opacity: 0.8;
}

.products__link:hover .products__label, .products__link:hover .products__title {
  opacity: 0.6;
}

.products__link:active .button::after {
  background: var(--accent-color-dark);
}

.products__link:active .products__label, .products__link:active .products__title, .products__link:active .products__price {
  opacity: 0.3;
}

.products__meta {
  display: flex;
  justify-content: space-between;
}

.products__item img {
  display: block;
  object-fit: contain;
  margin-bottom: 32px;
}

.products__overflow {
  position: absolute;
  top: 0;
  width: 360px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__label {
  border-radius: 50%;
  border: 2px solid var(--hover-color);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
}

.products__button {
  width: 220px;
  opacity: 0;
}

.products__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  max-width: 226px;
}

.products__price {
  margin: 0;
}

.pagination {
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:first-child {
  margin-right: auto;
}

.pagination__item:last-child {
  margin-left: auto;
}

.pagination__item:first-child .pagination__link, .pagination__item:last-child .pagination__link {
  width: 128px;
  box-sizing: border-box;
}

.pagination__link {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pagination__link--curent {
  color: rgba(68, 68, 68, 0.6);
}

.pagination__item:first-child:hover .pagination__link, .pagination__item:last-child:hover .pagination__link {
  background: #dcdcdc;
}

.pagination__item:first-child:active .pagination__link, .pagination__item:last-child:active .pagination__link {
  color: var(--active-color);
}

.pagination__item:first-child:focus .pagination__link, .pagination__item:last-child:focus .pagination__link {
  outline: 2px solid var(--focus-color);
}

.pagination__link:hover {
  color: #444;
}

.pagination__link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination__link:focus {
  outline: 2px solid var(--focus-color);
}

.pagination__link--text {
  color: var(--basic-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: var(--accent-font);
  min-height: 71px;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 94%, 0.9);
  z-index: 9;
}

.modal-container--close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  width: 940px; /* + 20 лишних */
  box-sizing: border-box;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modal__close-button {
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal__title {
  color: var(--basic-color);
  font-family: var(--accent-font);
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.form__label {
  color: #000;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.form__annotation {
  font-weight: 400;
  font-size: 14px;
}

.form__group {
  display: flex;
  justify-content: space-between;
}

.form__field {
  margin: 0;
}

.form__input {
  font: inherit;
  background-color: #F0F0F0;
  width: 360px;
  height: 60px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: 0;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  opacity: 0.3;
}
